<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<pre>
		<%= JSON.stringify(urlObject,"","\t"); %>
	</pre>
	<script type="text/javascript">
		close();
		console.log(window.opener);
	</script>
</body>
</html>